

.appWrapper {
    width: 360px;
    margin: 20px auto;
}

.pages {
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 20px;
    margin:20px auto;
}

td {
    border: 1px solid black;
    padding: 7px;  
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    font-weight: 700;
    color: red;  
}

button:active {
    color: red;
    background: yellow;
}

.checked {
    color: green;
    font-weight: bold;
}

@media (max-width: 360px) { 
    button {
        padding: 5px;
        font-size: 17px;       
    }
    
    .appWrapper {
        width: 320px;
        margin: 10px auto;
    }
    
    td {
        padding: 6px;
    }
}

